@import '../colors';

.item {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  background: white;

  &-active {
    background: $active-background;
    color: white;
  }

  &-disabled {
    opacity: 0.3;
  }
}
