<div class="auto-completer-input-wrapper">
  <input
    [(ngModel)]="searchQuery"
    type="text"
    role="combobox"
    autocomplete="off"
    aria-autocomplete="list"
    [attr.aria-label]="autoCompleterOptions.placeholder"
    [attr.aria-owns]="'ac-list-' + autoCompleterOptions.id"
    [attr.aria-expanded]="overlayVisible"
    [attr.aria-activedescendant]="activeItemIndex !== -1 ? getItemId(activeItemIndex) : null"
    [attr.id]="'ac-' + autoCompleterOptions.id"
    [attr.placeholder]="autoCompleterOptions.placeholder"
    (keydown)="inputKeydown($event)"
    (keyup)="inputKeyup($event)"
    cdkOverlayOrigin
  >
</div>
<div *ngIf="filterStatus" class="auto-completer-status" role="status" aria-atomic="true" aria-live="polite">{{filterStatus}}</div>
<ng-template cdkPortal #listItemsTemplate="cdkPortal">
  <div [attr.id]="'ac-list-' + autoCompleterOptions.id" class="auto-completer-list" role="listbox" [style.max-height.px]="autoCompleterOptions.listMaxHeight">
    <ng-container *ngIf="filteredList?.length > 0 || filteredList?.length === 0 && autoCompleterOptions.noResultOptions?.display === false; else resultsNotFound">
        <app-list-item
        class="item"
        role="option"
        *ngFor="let item of filteredList | slice:0:autoCompleterOptions.numberOfItemsToShow; index as index;"
        [item]="item"
        [attr.id]="getItemId(index)"
        (itemSelected)="showItem($event)"
        (mouseover)="setActiveItem(index)"
      >
        <div class="item-content">
          <div class="item-content-text">{{item.displayText}}</div>
        </div>
      </app-list-item>
    </ng-container>

  </div>
</ng-template>

<ng-template #resultsNotFound>
  {{autoCompleterOptions.noResultOptions?.message}}
</ng-template>
