@import './list-overlay-handler/list-overlay-handler';
@import './list-overlay-handler/list-item/colors';

$component-padding: 10px;
$component-margin: 5px;
$component-width: 250px;

.list-overlay-input-wrapper {
  position: relative;

  input {
    width: $component-width;
    padding: $component-padding;
    margin: $component-margin;

    &:focus {
      outline-color: $active-background;
    }
  }
}
