
$component-padding: 10px;
$component-margin: 5px;
$component-width: 250px;

.auto-completer-input-wrapper {
  input {
    width: $component-width;
    padding: $component-padding;
    margin: $component-margin;
  }
}

.auto-completer-list {
  width: $component-width + $component-padding + $component-margin + 9px;
  margin-top: -1px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  overflow-y: auto;

  .item {
    margin-bottom: 2px;
  }
}
