<div class="list-overlay-input-wrapper">
  <input
    [(ngModel)]="searchInput"
    class="form-control"
    type="text"
    role="combobox"
    autocomplete="off"
    aria-autocomplete="list"
    [attr.aria-label]="listOverlayOptions.placeholder"
    [attr.aria-owns]="'ac-list-' + listOverlayOptions.id"
    [attr.aria-expanded]="overlayVisible"
    [attr.aria-activedescendant]="activeItemIndex !== -1 ? getItemId(activeItemIndex) : null"
    [attr.id]="'ac-' + listOverlayOptions.id"
    [attr.placeholder]="listOverlayOptions.placeholder"
    (keydown)="inputKeydown($event)"
    (keyup)="inputKeyup($event)"
    cdkOverlayOrigin
  >
</div>
<div *ngIf="filterStatus" class="aria-live-list-overlay-status" role="status" aria-atomic="true" aria-live="polite">{{filterStatus}}</div>
<ng-template cdkPortal #listOverlayItemsTemplate="cdkPortal">
  <div [attr.id]="'ac-list-' + listOverlayOptions.id" class="list-overlay-list" role="listbox" [style.max-height.px]="listOverlayOptions.listMaxHeight">
    <ng-container *ngIf="filtered?.length > 0 || filtered?.length === 0 && listOverlayOptions.noResultOptions?.display === false; else resultsNotFound">
      <app-list-item
        class="item"
        role="option"
        *ngFor="let item of filteredList | async | slice:0:listOverlayOptions.numberOfItemsToShow; index as index;"
        [item]="item"
        [attr.id]="getItemId(index)"
        (itemSelected)="showItem($event)"
        (mouseover)="setActiveItem(index)"
      >
        <div class="item-content">
          <div class="item-content-text">{{item.displayText}}</div>
        </div>
      </app-list-item>
    </ng-container>

  </div>
</ng-template>

<ng-template #resultsNotFound>
  {{listOverlayOptions.noResultOptions?.message}}
</ng-template>
