$component-padding: 10px;
$component-width: 380px;

.list-overlay-input-wrapper {
  input {
    width: $component-width;
  }
}

.list-overlay-list {
  width: $component-width;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,92,138,0.5);
  overflow-y: auto;

  .item {
    margin-bottom: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}
